body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.imgHeader {
  width: 5.7rem;
  margin-left: 0.5rem;
}

footer {
  background-color: #fffacda8;
}

.cardParent {
  display: flex;
  justify-content: space-around;
}
.card .btn-primary {
  bottom: 1rem;
  position: absolute;
  left: 2rem;
  right: 2rem;
}
.card {
  display: inline-flex;
  height: 270px;
}
.search-wrapper {
  border-top: 1px solid #e9ecef;
}

.search-box label {
  font-weight: bold;
  padding: 0.75rem;
  margin-bottom: 0;
  color: #5b5757;
}

.search-row {
  display: flex;
  border-top: 2px solid #e9ecef;
  padding-top: 15px;
}

.search-row input {
  margin-right: 10px;
}
.orange {
  color: #332f33;
  background-color: #ffce2f6b;
}

.green {
  background-color: #acdaacbd;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}
